.specialization {
    display: flex;
    background-color: $color-fon;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 40px;
        padding: 140px 0 102px;
    }

   /* &__title-1 {
        //на всякий случай
    }  */

    &__title-2 {
        @include title-2-style;
    
    }

   &__cards {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        .wrapper {
            display: flex;
            justify-content: space-around;
            width: 100%;
            column-gap: 30;
            flex-wrap: wrap;
            
        }
    }

    &__card1 {
        width: 350px;
        max-width: 100%;
        height: 360px;
        max-height: 100%;
        background-image: url('../img/specialization/card-1.png');
        margin-bottom: 30px;
    }

    &__card2 {
            width: 350px;
            max-width: 100%;
            height: 360px;
            max-height: 100%;
            background-image: url('../img/specialization/card-2.png');
            margin-bottom: 30px;
    }

    .card_text {
            padding: 261px 118px 45px 45px;
            font-size: 24px;
            color: $color-white;
            font-weight: $extra-bold;
            line-height: 126%;
        }
}

@media (max-width: 800px) {
    .specialization {
    
    &__title-1 {
        text-align: center;
    }

    &__title-2 {
        text-align: center;    
    }
    }
}

@media (max-width: 540px) {
    .specialization {

        &__title {
            row-gap: 40px;
            padding: 70px 0 50px;
            }
    
        &__title-1 {
            text-align: center;
        }

        &__title-2 {
            font-size: 24px;
            text-align: center;    
        }

        &__cards {
            row-gap: 30px;

            .wrapper {
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                column-gap: 30px;
            }
        }

        &__card1 {
            margin-bottom: 0px;
        }

        &__card2 {
            margin-bottom: 0px;
        }

        .card_text {
            padding: 220px 0 45px;
             font-size: 24px;
            color: $color-white;
            font-weight: $extra-bold;
            line-height: 126%; 
        }

    }
}